* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

body {
  max-width: 1920px;
  background-color: #000;
}

.header {
  color: #fff;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 36px;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 5px;
          column-gap: 5px;
}

.header__logo-link {
  text-decoration: none;
  color: #fff;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 515px;
  width: 100%;
  margin: 0 auto;
}

.header__list-link {
  color: #fff;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-decoration: none;
  border-bottom: 0px solid transparent;
  padding-bottom: 0;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

.header__list-link:hover {
  border-bottom: 2px solid #fff;
  padding-bottom: 8px;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

.header__nav {
  width: 100%;
}

.header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__search-input {
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid #fff;
  padding-bottom: 10px;
  color: #fff;
  width: 125px;
}

.header__search-input-wrapper {
  position: relative;
}

.header__search-input-wrapper::after {
  cursor: pointer;
  position: absolute;
  content: '';
  background-image: url("img/icons/icons_search.svg");
  width: 17px;
  height: 17px;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.top-banner {
  background-image: url("img/main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 1065px;
  width: 100%;
  margin-top: -71px;
}

.top-banner__wrapper {
  width: 554px;
  height: 273px;
  position: relative;
  top: 273px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.top-banner__subtitle {
  padding-top: 6px;
  font-family: Open Sans Condensed;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.top-banner__title {
  padding-left: 2px;
  margin-top: -30px;
  font-family: Open Sans Condensed;
  font-style: normal;
  font-weight: 700;
  font-size: 165px;
  color: #FFFFFF;
}

.btn {
  width: 150px;
  height: 60px;
  background-color: #16DCF0;
  border-radius: 5px;
  text-decoration: none;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cards {
  height: 100px;
}
/*# sourceMappingURL=style.css.map */