
*
    margin: 0
    padding: 0
    box-sizing: border-box

.container
    max-width: 1300px
    margin: 0 auto

body
    max-width: 1920px
    background-color: #000

.header
    color: #fff
    font-family: 'Open Sans Condensed', sans-serif
    font-weight: 700
    font-size: 18px
    line-height: 25px
    display: flex
    justify-content: space-between
    align-items: center
    margin-top: 36px
    &__logo
        display: flex
        align-items: center
        column-gap: 5px
        &-link
            text-decoration: none
            color: #fff
    &__list
        display: flex
        list-style: none
        justify-content: space-between
        max-width: 515px
        width: 100%
        margin: 0 auto
        &-link
            color: #fff
            font-family: 'Open Sans Condensed', sans-serif
            font-weight: 700
            font-size: 18px
            line-height: 25px
            text-decoration: none
            border-bottom: 0px solid transparent
            padding-bottom: 0
            transition-duration: .3s
            &:hover
                border-bottom: 2px solid #fff
                padding-bottom: 8px
                transition-duration: .3s
    &__nav
        width: 100%
    &__search
        display: flex
        column-gap: 10px
        align-items: center
        &-input
            background-color: transparent
            border: none
            outline: none
            border-bottom: 2px solid #fff
            padding-bottom: 10px
            color: #fff
            width: 125px

            &-wrapper
                position: relative
                &::after
                    cursor: pointer
                    position: absolute
                    content: ''
                    background-image: url('img/icons/icons_search.svg')
                    width: 17px
                    height: 17px
                    right: 0
                    top: 50%
                    transform: translateY(-50%)

.top-banner
    background-image: url('img/main.jpg')
    background-repeat: no-repeat
    background-size: cover
    background-position: center center 
    height: 1065px
    width: 100%
    margin-top: -71px
    &__wrapper
        width: 554px
        height: 273px
        position: relative
        top: 273px
        left: 50%
        transform: translateX(-50%)
        display: flex
        flex-wrap: wrap
        justify-content: center
    &__subtitle
        padding-top: 6px
        font-family: Open Sans Condensed
        font-style: normal
        font-weight: 700
        font-size: 24px
        line-height: 33px
        text-transform: uppercase
        color: #FFFFFF
    &__title
        padding-left: 2px
        margin-top: -30px
        font-family: Open Sans Condensed
        font-style: normal
        font-weight: 700
        font-size: 165px
        color: #FFFFFF
.btn
    width: 150px
    height: 60px
    background-color: #16DCF0
    border-radius: 5px
    text-decoration: none
    font-family: Open Sans
    font-style: normal
    font-weight: 600
    font-size: 18px
    line-height: 25px
    color: #FFFFFF
    display: flex
    justify-content: center
    align-items: center

.cards
    height: 100px
   
        
    
